@import url('https://fonts.cdnfonts.com/css/sword-thrasher');

.app {
    position: absolute;
    display: block;
    z-index: -1000;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/background.jpg');
}

.main {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: 100%;
}

.title {
    color: white;
    font-size: 22px;
    letter-spacing: 10px;
    text-align: center;
    margin: 10px;
    font-family: "Sword Thrasher", "Kiona", "Roboto", sans-serif;
    cursor: default;
}

.form {
    display: flex;
    flex-direction: column;

    background-color: transparent;
    box-shadow: 0 0 10px 2px rgba(32, 80, 206, .5);
    width: auto;
    max-width: 450px;
    padding: 20px 30px;
    border-radius: 20px;
    margin-left: 50px;
}

.input {
    width: 300px;
    height: 32px;
    margin: 10px 5px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    border-right: 2px solid #2050ce;
    border-bottom: 2px solid #2050ce;
    font-family: "Roboto", sans-serif;
}

.input::placeholder {
    color: white;
    font-family: "Kiona";
}

#button {
    font-size: 14px;
    color: white;
    margin-top: 20px;
    height: 35px;
    font-family: "Kiona";
    font-weight: bold;
    text-transform: lowercase;
    background-color: #2050ce;
    border: none;
    cursor: pointer;
}