#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    border: none;
    padding: 10px;
    margin: 50px 10px 10px 50px;
    background-color: transparent;

}

#copyright,
.button {
    display: flex;
    align-items: start;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin: 5px 0;
    padding: 15px 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Rawson";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: -1px;
    text-align: left;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

#copyright {
    text-transform: lowercase;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    padding: 4px 6px;
    border-radius: 0;
    letter-spacing: 2px;
    font-family: "Kiona";
    background-color: #ce2050;
transition: all 0.5s ease;
}

#copyright:hover {
    color: white;
    background-color: #2050ce;
}

.button:hover {
    background-color: #40404080;
}

.selected {
    background-color: #404040;
}

.icon{
    background-color: transparent;
    margin: 0 10px 0 1px;
}