@import url('https://fonts.cdnfonts.com/css/sword-thrasher');
@import url('https://fonts.cdnfonts.com/css/sweethampton');
@import url('https://fonts.cdnfonts.com/css/farm-house-fs');

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 65px;

    background-color: transparent;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0 20px;

    width: auto;
    height: auto;
}

.link {
    padding: 5px 0;
    margin: 0 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: all 0.25s ease-in;
    border-bottom: 2px solid #2050ce;
}

.link:hover {
    border-bottom: 2px solid transparent;
    transform: rotateZ(-5deg);
}

.link svg {
    margin-right: 10px;
    transform: translateY(2px);
}

#logo {
    color: #2050ce;
    font-size: 32px;
    text-decoration: none;
    letter-spacing: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Sword Thrasher", "Kiona", "Roboto", sans-serif;
}

#actor {
    font-size: 8px;
    text-transform: uppercase;
    color: white;
    font-family: "Farm House FS", "Roboto", "Ubuntu", sans-serif;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 5px;

}

#actor span {
    font-size: 10px;
    margin: 0 10px;
    color: inherit;
    color: white;
    letter-spacing: 0px;
    text-transform: capitalize;
    font-family: "Sweethampton" !important;
}