#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /* local style */
    font-family: "Rawson";
    color: white;
}

#main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: none;
    border-left: 0.5px solid #404040;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 64px);
}

/* width */
#main::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#main::-webkit-scrollbar-track {
    background: #404040;
}

/* Handle */
#main::-webkit-scrollbar-thumb {
    background: white;
}

/* Handle on hover */
#main::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}


#main h1 {
    margin: 15px 0 20px 15px;
    font-size: 21px;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: "Kiona";
    letter-spacing: 1.50px;
}