@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.cdnfonts.com/css/syn-nova');
@import url('https://fonts.cdnfonts.com/css/kiona-2');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: default;
    border-radius: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Kiona", "Roboto", Arial;
    letter-spacing: 1px;
}

button,
a {
    size: inherit;
    color: inherit;
    cursor: pointer;
}

button *,
a * {
    cursor: pointer;
}

body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(20, 23, 28);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    color: white;
}