.LocateArea {
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
    width: 100%;
}

.LocateButton {
    display: flex;
    align-items: center;
}

.LocateButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.LocateButton button:hover {
    transform: scale(1.25);
}

.LocateButton button * {
    cursor: inherit;
}

.LocateButton span {
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.LocateRow {
    height: 50px;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background: rgb(10, 20, 40);
    text-transform: uppercase;
}

.LocateRow option {
    height: 50px;
    width: 100px;
    font-size: 16px;
}

.Main {
    position: relative;
    height: 100%;
    max-height: calc(100% - 100px);
    margin: 50px;
    padding: 25px;
    width: calc(100% - 100px);
    background-color: rgb(10, 20, 40);
    overflow-y: auto;
}

.FilterSection {
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.FilterSection>form {
    position: relative;
    display: flex;
}

.FilterSection>form input {
    padding: 10px;
    margin: 5px;
}

.FilterFormJoiner {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.SearchSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ResultSection {
    flex-direction: column;
    display: flex;
    height: 100%;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.TableSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.TableSection>form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TableSection>form>section {
    margin: 10px;
    color: white;
}

.Table {
    border-collapse: collapse;
}

.Table>tr {
    height: 50px;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0.25);
}

.Table>tr>th {
    padding: 10px;
    text-align: left;
    background-color: transparent;
    color: white;
}