.MainTableLine {
    background-color: #2050ce !important;
}

.NormalFont {
    font-family: "Ubuntu", "Roboto";
}

.MainTableLine th {
    font-size: 14px !important;
}

.Title {
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}

.FindUser {
    display: flex;
    align-items: center;
}

.FindUser button {
    font-size: 22px;
    background: none;
    padding: 5px;
    color: white;
}

.FindUser button * {
    cursor: pointer;
}

.FindUser input {
    height: 30px;
    background: none;
    margin: 5px;
    color: white;
    font-size: 14px;
}

.FindUser input[type=search] {
    padding-left: 10px;
    padding-bottom: 5px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    font-size: 12px;
    font-weight: 400;
    cursor: text;
}

.FindUser input[type=search]::placeholder {
    text-transform: uppercase;
    color: white;
}

.FindUser input[type=submit] {
    padding: 5px;
    font-size: 15px;
}

.LocateArea {
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
    width: 100%;
}

.LocateButton {
    display: flex;
    align-items: center;
}

.LocateButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.LocateButton button:hover {
    transform: scale(1.25);
}

.LocateButton button * {
    cursor: inherit;
}

.LocateButton span {
    font-size: 12px;
}

.LocateRow {
    height: 50px;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background: rgb(10, 20, 40);
    text-transform: lowercase;
}

.LocateRow option {
    height: 50px;
    width: 100px;
    font-size: 16px;
}

.Main {
    position: relative;
    height: 100%;
    max-height: calc(100% - 100px);
    margin: 50px;
    padding: 25px;
    width: calc(100% - 100px);
    background-color: rgb(10, 20, 40);
    overflow-y: auto;
}

.FilterSection {
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.SearchSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.ResultSection {
    flex-direction: column;
    display: flex;
    height: 100%;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}

.TableSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.TableSection>form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TableSection>form>section {
    margin: 10px;
    color: white;
}

.Table {
    border-collapse: collapse;
}

.Table>tr {
    height: 50px;
    border: 2px solid #2050ce;
    background-color: rgba(0, 0, 0, 0.25);
}

.Table>tr>th {
    font-size: 10px;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    color: white;
}