@keyframes ColorAnimation {
    from {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }
}

.MenuLogoParent {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuLogo {
    font-size: 32px;
    letter-spacing: 10px;
    font-family: "SYN Nova", none;
    text-transform: uppercase;
    text-align: center;

    /* animation */
    background: linear-gradient(-45deg, #5020ce, #ce2050, #2050ce, #20ce50);
    animation: ColorAnimation 7s linear infinite alternate;
    background-size: 400% 400%;

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MenuTab {
    display: flex;
    flex-direction: column;
    font-family: "Kiona";
}

.MenuTabName {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;

    /* animation */
    background: linear-gradient(-45deg, #5020ce, #ce2050, #2050ce, #20ce50);
    animation: ColorAnimation 7s linear infinite alternate;
    background-size: 400% 400%;

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MenuTabLink {
    font-size: 16px;
    margin: 5px;
    font-family: "Kiona";
    text-transform: capitalize;
    color: white;
    padding: 10px 10px;
}

.MenuTabLink svg {
    padding: 1px;
    margin-right: 5px;
    transform: translateY(2px);
}

.LED {
    /* animation */
    background: linear-gradient(-45deg, #5020ce, #ce2050, #2050ce, #20ce50);
    animation: ColorAnimation 7s linear infinite alternate;
    background-size: 200% 200%;

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.LEDText {
    margin-left: 20px;
}

/* ID */

#poweredby {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#poweredby>a {
    text-align: center;
    margin-bottom: 50px;
}

#init {
    display: flex;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

#menu {
    grid-area: menu;
    width: 100%;
    max-width: 300px;
    min-height: 100%;
    background-color: rgb(10, 20, 40);
    display: flex;
    flex-direction: column;
}

#container {
    height: auto;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    display: grid;
    width: 100%;
    background-color: rgb(10, 15, 30);
}

#menuLink {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 70px;
}

#menuLink li {
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: start;
}