#app {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(5, 5, 15, 1) 60%, rgba(5, 5, 50, 1) 80%);
    overflow: hidden;
    overflow-y: auto;
}

#inspector {
    width: 125%;
}

.main {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 50px;
    display: flex;
}

.mainGroup {
    width: 100%;
    padding: 20px;
    display: flex;
    list-style: none;
    flex-direction: column;

    border-right: 2px solid #2050ce;
}

.mainGroup li {
    width: 100%;
    margin: 10px 0;
}

.area {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
    margin-bottom: 0;
}

.title {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #2050ce;
}

.mode {
    width: 200px;
    height: 80px;
    background-color: white;
    border: none;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 5px 1px white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

#modeName {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.modeArea {
    padding: 5px;
    padding-top: 0;
    margin-top: 5px;
    background-color: transparent;
}

.modeElement {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: lighter;
    font-size: 12px;
    padding: 2px;
    color: black;
}

.states {
    text-align: left !important;
    width: 100%;
    font-size: 18px;
    color: white;
}

.form {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form input {
    height: 35px;
    width: auto;
    max-width: 500px;
    margin: 10px;
    outline: none;
    border: none;
    padding: 10px 0;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid #2050ce;
    font-family: "Roboto", sans-serif;
}

.formText::placeholder {
    color: white;
    font-family: "Kiona";
}

.form input[type="submit"] {
    border: none;
    color: white;
    font-family: "Kiona";
    background-color: #2050ce;
    cursor: pointer;
}